@import 'variables.sass'
// @import "~bootstrap/scss/bootstrap"

body
  width: 100vw
  height: 100vh
  max-width: 100vw
  max-height: 100vh
  background-color: $background

.App 
  text-align: center
  font-size: calc(10px + 2vmin)
  color: $light-main
  font-weight: 200%;

.App>.row
  height: 100vh

#profile
  width: 30vw
  height: 30vw
  border-radius: 50%
  transition: 0.2s
  &:hover
    transform: scale(1.05)
    opacity: 0.8
